body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:rgb(235, 237, 243);
    margin: 0;
    font-family: 'Arial', sans-serif;
    color:rgb(8, 8, 8);
  }
  
  .weather-app {
    text-align: center;
    padding: 20px;
    background: linear-gradient(135deg, #74ebd5, #ACB6E5);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  
  #weather-form {
    margin-bottom: 20px;
  }
  
  #city-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 70%;
  }
  
  button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #weather-info {
    display: none;
  }
  
  #icon {
    width: 100px;
  }
  